@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

/* Background */
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("wallpaper.jpg") center/cover no-repeat;
  z-index: -1;
}

/* Glass Card */
.wrapper {
  width: 100%;
  max-width: 650px;
  padding: 35px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

/* Headings */
h2 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

hr {
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Labels */
label, b {
  display: block;
  margin-bottom: 5px;
  font-family:'Poppins'; 
  font-size: 14px;
}

/* Inputs & Select */
input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Special Inputs */
input[type="radio"] {
  width: auto;
  margin-right: 5px;
}

input[type="date"] {
  color: #555;
}

/* Buttons */
input[type="submit"],
input[type="reset"] {
  width: 48%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

input[type="submit"] {
  background: #fff;
  color: #000;
}

input[type="reset"] {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.8);
}

input[type="reset"]:hover {
  background: rgba(255, 255, 255, 0.2);
}

.gender-options {
  display: flex;
  gap: 5px;
  align-items: bottom;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.radio-label input {
  width: auto;
}